<mat-toolbar class=" text-white" style="background-color: #004e04" >
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="example-spacer"></span>
   Manage Discounts
    <span class="example-spacer"></span>
</mat-toolbar>
<br>


    &nbsp; &nbsp; &nbsp; <input type="text" class="form-control" style="display: inline-block; width: 40%;" placeholder="Search by amount or date" [(ngModel)]="searchString"> &nbsp; 
    <button class="btn btn-primary" style=" height:35px; display: inline-block;" (click)="SearchDiscounts()">Search</button>
    <p>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; <i class="fa-regular fa-circle-info" style="color: orange"> The search is case sensentive, enter word exactly as they are!</i> </p>
 

<br>
<table class="table table-striped">
  <thead>
      <tr>
          <th>
              Amount Off
          </th>
          <th>
              Expiry Date
          </th>
          <th scope="col-6" style="size: 0.2%;"></th>
           <th scope="col-6"></th>
         
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let discount of Discount">
          <td>
              {{discount.amount }}
          </td>
          <td>
              {{discount.date }}
          </td>
          
          <td>

              <button class="btn btn-info" (click)="EditDiscount(discount.discountID)">Edit </button> &nbsp;
             
          </td>
          <td> <button class="btn btn-danger" style="margin-left: 2px;" (click)="DeleteDiscount(discount.discountID)">Delete</button></td>
      </tr>
  </tbody>
</table>
<button type="submit"class="btn btn-primary" style="margin-left: 90%;" routerLink="/add-discount"> Add new discount</button> 

  

