<form [formGroup]="vehicleForm" (ngSubmit)="addVehicle()" class="container p-3 col-md-8">
    <div class="row">
    <h1>Add Vehicle</h1>

    <!--<mat-form-field appearance="fill">
        <mat-label for="vehicleName">Vehicle Name</mat-label>
        <input matInput type="text" id="name" formControlName="vehicleName">
    </mat-form-field>-->
    <div class="form-group">
        <label class="col-sm-1" for="name">Vehicle Name:</label>
        <div class="col-sm-6">
          <input class="form-control" id="name" placeholder="Enter vehicle name" formControlName="vehicleName" required/>
        </div>
      </div>

    &nbsp;
    <!--<mat-form-field appearance="fill">
        <mat-label for="registrationNumber">Registration Number</mat-label>
        <input matInput type="text" id="name" formControlName="registrationNumber">
    </mat-form-field>-->
    <div class="form-group">
        <label class="col-sm-1" for="registration">Registration Number:</label>
        <div class="col-sm-6">
          <input class="form-control" id="registration" placeholder="Enter registration number" formControlName="registrationNumber" required/>
        </div>
      </div>

    &nbsp;
    <!--<mat-form-field appearance="fill">
        <mat-label for="price">Price</mat-label>
        <input matInput type="text" id="name" formControlName="vehiclePriceID">
    </mat-form-field>-->
    <div class="form-group">
        <label class="col-sm-1" for="vehicleRentalPrice">Vehicle Price:</label>
        <div class="col-sm-6">
          <input class="form-control" id="vehicleRentalPrice" placeholder="Enter vehicle price"
            formControlName="vehiclePriceID" />
        </div>
      </div>


    &nbsp;
<br>
    <!--<mat-form-field appearance="fill">
        <div class="form-group" >
        <mat-select placeholder="Select Type" formControlName="vehicleTypeID" >
            <mat-option *ngFor="let v of vType" [value]="v.vehicleTypeID">
                {{v.name}}
            </mat-option>
        </mat-select>
    </div>
    </mat-form-field>-->
    <div class="form-group">
        <label class="col-sm-1" for="vehicleType">Vehicle Type:</label>
        <div class="col-sm-6">
          <select class="form-control" id="vehicleType" formControlName="vehicleTypeID">
            <option value="">Select Type</option>
            <option *ngFor="let v of vType" [value]="v.vehicleTypeID">
              {{ v.name }}
            </option>
          </select>
        </div>
      </div>
    &nbsp;
<br>
<!--<mat-form-field appearance="fill">
    <div class="form-group">
        <mat-select placeholder="Select Status" formControlName="vehicleStatusID">
            <mat-option *ngFor="let v of vStatus" [value]="v.vehicleStatusID">
                {{v.name}}
            </mat-option>
        </mat-select>
    </div>
</mat-form-field>-->
<div class="form-group">
    <label class="col-sm-1" for="vehicleStatus">Vehicle Status:</label>
    <div class="col-sm-6">
      <select class="form-control" id="vehicleStatys" formControlName="vehicleStatusID">
        <option value="">Select Status</option>
        <option *ngFor="let v of vStatus" [value]="v.vehicleStatusID">
          {{ v.name }}
        </option>
      </select>
    </div>
  </div>

    <br>


    <div>
    <input type="file" (change)="handleImageUpload($event)" formControlName="image" accept="image/*">
    <img *ngIf="imageBase64" [src]="imageBase64" alt="Uploaded Image" width="100px">
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="vehicleForm.invalid">Submit</button>
        &nbsp;
        <button type="reset" class="btn btn-info mr-1">Clear</button>
      </div>
    </div>
</form>

