<mat-toolbar class=" text-white" style="background-color: #004e04" >
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" >
           <mat-icon>arrow_back</mat-icon>
         </button>
         <span class="example-spacer"></span>
           <h2 style="color:white">Update Passenger</h2>
         <span class="example-spacer"></span>
  
       </mat-toolbar>
  
  
  <form [formGroup]="UpdatePassengerForm"  class="form-horizontal" enctype="multipart/form-data" style="min-width: 150px; max-width: 500px; width: 100%; margin-left: 25%;margin-top:5%" (ngSubmit)="UpdatePassenger()">
    <b></b>
    <div fxLayout="column" fxLayoutAlign="center center">
  
  
  
        <div fxFlex="100%">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label style="color:green">Passenger's Name</mat-label>
            <input matInput formControlName="name" name="passengerName">
          </mat-form-field>
        </div>
        <div fxFlex="100%">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label style="color:green">Passenger's Surname</mat-label>
            <input matInput formControlName="surname" name="passengerSurname">
          </mat-form-field>
        </div>
        <div fxFlex="100%">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label style="color:green">Cell Phone Number</mat-label>
            <input matInput formControlName="phoneNumber" name="passengerCellphone" style="color:green">
  
            <mat-error *ngIf="UpdatePassengerForm.controls['phoneNumber'].invalid && UpdatePassengerForm.controls['phoneNumber'].touched">
              Please enter a valid cell phone number starting with '0' and containing 10 digits.
            </mat-error>
          </mat-form-field>
        </div>
        <button mat-stroked-button style="background-color:rgb(79, 192, 79); margin-left:35%" class="btn-block" [disabled]="!UpdatePassengerForm.valid" >Update Passenger</button>
    </div>
  </form>
  
  
  
  
