<h4>Edit Vehicle</h4>
<hr>
<div class="container">
<div class="row">  
<form [formGroup]="vehicleForm" class="form-horizontal"  (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label class=" col-sm-1" for="name">Vehicle Name:</label>
        <div class="col-sm-6">
          <input class="form-control" id="vehicleName" placeholder="Enter name" [required]="true" formControlName="vehicleName">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1" for="duration">Registration Number:</label>
        <div class="col-sm-6">
          <input class="form-control" id="duration" placeholder="Enter registration number" [required]="true" formControlName="registrationNumber">
        </div>
    </div>

    <mat-form-field appearance="fill">
    <div class="form-group">
        <mat-select placeholder="Select Type" formControlName="vehicleTypeID">
            <mat-option *ngFor="let v of vType" [value]="v.vehicleTypeID">
                {{v.name}}
            </mat-option>
        </mat-select>
    </div>
    </mat-form-field>
    &nbsp;
    <br>
    <mat-form-field appearance="fill">
    <div class="form-group">
        <mat-select placeholder="Select Status" formControlName="vehicleStatusID">
            <mat-option *ngFor="let v of vStatus" [value]="v.vehicleStatusID">
                {{v.name}}
            </mat-option>
        </mat-select>
    </div>
    </mat-form-field>
    <br>

    <div class="form-group">
      <label class="col-sm-1" for="price">Price:</label>
      <div class="col-sm-6">
        <input class="form-control" id="price" placeholder="Enter price" [required]="true" formControlName="vehiclePrice">
      </div>
  </div>

    <!--<div class="form-group">
        <label class="col-sm-1" for="duration">Image:</label>
        <div class="col-sm-6">
          <input class="form-control" id="image" placeholder="Enter image" [required]="true" formControlName="image">
        </div>
    </div>-->

    <!--<div class="form-group">
      <label class="col-sm-1" for="image">Image:</label>
      <div class="col-sm-6">
        <img [src]="vehicleForm.get('image')?.value" alt="Vehicle Image" width="100px">
      </div>
  </div>-->

  <div class="form-group">
    <label class="col-sm-1" for="image">Image:</label>
    <div class="col-sm-6">
        <input type="file" (change)="handleImageUpload($event)" accept="image/*">
        <img [src]="vehicleForm.get('image')?.value" alt="Vehicle Image" width="100px">
    </div>
</div>

  
    
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-6">
        <button style="margin-right:1em;" type="submit" [disabled]="!vehicleForm.valid" class="btn btn-sm btn-default">Submit</button>
        <button type="button" class="btn btn-sm btn-warning" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </form>
  </div>
</div>
