<style>
  tr:nth-child(even) {
   background: lightgreen;
  }
 </style>
 <mat-toolbar class=" text-white" style="background-color: #004e04" >
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" >
     <mat-icon>arrow_back</mat-icon>
   </button>
   <span class="example-spacer"></span>
  Time Slot
   <span class="example-spacer"></span>

 </mat-toolbar>
 <br>
 <div style="margin-left: 20px;margin-top: 5%;">
 <table class="table table-striped">
   <thead>
       <tr>
           <th scope="col">Time</th>
           <th scope="col">Date</th>
           <th scope="col-6" style="size: 0.2%;"></th>
           <th scope="col-6"></th>

       </tr>
   </thead>
   <tbody>
     <tr *ngFor="let timeslot of timeslots">
          <td>{{timeslot.departureTime}}</td>
           <td>{{timeslot.departureDate}}</td>
           <td><button type="button" class="btn btn-warning mr-1" [routerLink]="['/timeslot', timeslot.timeslotID]" >Edit</button></td>
         <td><button type="button" class="btn btn-danger mr-1"(click)="DeleteTimeSlot(timeslot.timeslotID)" >Delete</button></td>
     </tr>
   </tbody>
 </table>
 </div>
 <button class="btn btn-success mr-1" style="margin-left: 90%;" routerLink="/add-timeslot">Add</button>

 <router-outlet></router-outlet>
