<style>
  tr:nth-child(even) {
   background: lightgreen;
  }
 </style>
 <mat-toolbar class=" text-white" style="background-color: #004e04" >
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"  (click)="cancel()">
     <mat-icon >arrow_back</mat-icon>
   </button>
   <span class="example-spacer"></span>
  Add quotation
   <span class="example-spacer"></span>
  </mat-toolbar>


<div class="container">
<form (ngSubmit)="AddQuotation()" [formGroup]="QuotationForm">
  <div class="form-group">
    <label for="Item" class="form-label">Item:</label>
    <input type="text" class="form-control" id="name" name="item" formControlName="name" [(ngModel)]="quotation.name">
    <div class="error-message">{{ getErrorMessage('name') }}</div>
  </div>

  <div class="form-group">
    <label for="description" class="form-label">Description:</label>
    <input type="text" class="form-control" id="description" name="description" formControlName="description" [(ngModel)]="quotation.description">
    <div class="error-message">{{ getErrorMessage('description') }}</div>
  </div>
  
  <div class="form-group">
    <label for="date" class="form-label">Date:</label>
    <input type="date" class="form-control" id="date" name="date" formControlName="date" [(ngModel)]="quotation.date">
    <div class="error-message">{{ getErrorMessage('date') }}</div>
  </div>
    
  <div class="form-group">
    <label for="amount" class="form-label">Amount:</label>
    <input type="text" class="form-control" id="amount" name="amount" formControlName="amount" [(ngModel)]="quotation.amount">
    <div class="error-message">{{ getErrorMessage('amount') }}</div>
  </div>  
  
  <div class="form-group">
    <label for="quantity" class="form-label">Quantity:</label>
    <input type="text" class="form-control" id="quantity" name="quantity" formControlName="quantity" [(ngModel)]="quotation.quantity">
    <div class="error-message">{{ getErrorMessage('quantity') }}</div>
  </div>

  <div class="form-group">
    &nbsp;
    <button type="submit" [disabled]="!QuotationForm.valid" class="btn btn-primary mr-1">Add</button>
    &nbsp;
    &nbsp;
    <button type="reset" class="btn btn-info mr-1">Clear</button>
  </div>
</form>
</div>