<div class="outer" *ngIf="showToolbar">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold"> Create an account </h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="signupForm">
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="name" type="text" placeholder="Name">
                                </div>
                            </div>
                            <div *ngIf="signupForm.controls['name'].invalid && (signupForm.controls['name'].dirty ||
        signupForm.controls['name'].touched)">
        <div *ngIf="signupForm.controls['name'].errors?.['required']" style="color: red;">
          *Name is required
        </div>
      </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="surname" type="text" placeholder="Surname">
                                </div>
                            </div>
                            <div *ngIf="signupForm.controls['surname'].invalid && (signupForm.controls['surname'].dirty ||
        signupForm.controls['surname'].touched)">
        <div *ngIf="signupForm.controls['surname'].errors?.['required']" style="color: red;">
          *Surname is required
        </div>
      </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="username" type="text" placeholder="Username">
                                </div>
                            </div>
                            <div *ngIf="signupForm.controls['username'].invalid && (signupForm.controls['username'].dirty ||
        signupForm.controls['username'].touched)">
        <div *ngIf="signupForm.controls['username'].errors?.['required']" style="color: red;">
          *Username is required
        </div>
      </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="useremail" type="text" placeholder="Email">
                                </div>
                            </div>
                            <div *ngIf="signupForm.controls['useremail'].invalid && (signupForm.controls['useremail'].dirty ||
        signupForm.controls['useremail'].touched)">
        <div *ngIf="signupForm.controls['useremail'].errors?.['required']" style="color: red;">
          *Email is required
        </div>
      </div>
                            <!--<div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input type="text" placeholder="Cellphone no.">
                                </div>
                            </div>-->
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-lock p-2"></span>
                                    <input formControlName="password" type="password" placeholder="Password">
                                </div>
                            </div>
                            <div *ngIf="signupForm.controls['password'].invalid && (signupForm.controls['password'].dirty ||
        signupForm.controls['password'].touched)">
        <div *ngIf="signupForm.controls['password'].errors?.['required']" style="color: red;">
          *Password is required
        </div>
      </div>
    
                            <button (click)="onSubmit()" type="submit" class="btn btn-primary btn-block mt-4 w-100"> Sign up </button>
                            <div class="text-center pt-4 text-muted"> Already have an account? <a routerLink="/login">Login</a> </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
