.myicon1
{

    width:100%;
    text-align: left;
    display:flex;

}

.myicon2
{

    width:100%;
    text-align: center;
    display:flex;
    margin-left:30%

}

.myicon3
{

    width:100%;
    text-align: right;
    display:flex;
    margin-left: 40%;

}
.example-spacer {
  flex:auto;
}

.right{
  //display: inline-block;
// width: 100%;
text-align: right;
//vertical-align: bottom;
//flex:auto;
}

.img-fluid {
  max-width: 68px !important;
  margin-right: 10px !important;
  flex:auto;
}

.logo-image{
  width: 700px;
  height: 500px;

}

.mat-sidenav::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

/* Optional: Firefox scrollbar */
.mat-sidenav {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent; /* Handle and Track colors */
}

mat-toolbar {
  background: #004a9f;
  color: white;
}

mat-sidenav {
  //margin: 16px;
  width: auto;
  border-right: none;
  background: #004e04;
  color: white;
  border-radius: 2px;
  padding: 16px;
  text-align: center;
  overflow: hidden; 
}
mat-sidenav-container {
  height: calc(100vh);
  background:white;
  color:black;

}

.content
{
  margin-left: 100px;
}


/* If needed, hide the scrollbar for the content inside the sidebar */
mat-sidenav-content {
  overflow: auto; /* Or use 'hidden' to completely hide the scrollbar */
}