<mat-toolbar class=" text-white" style="background-color: #004e04" >
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="example-spacer"></span>
 Add New User Type
  <span class="example-spacer"></span>
</mat-toolbar>
  

  <div class="container">
    <div class="row">
        <div class="col-6 offset-2">
          <form (ngSubmit)="AddUserType()" [formGroup]="UserTypeForm">

          <div class="mb-3">
            <label for="usertypename" class="form-label"> User Type Name:</label>
           <input type="text" class="form-control" id="name" name="usertypename" formControlName="name" [(ngModel)]="userType.name" >

          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <input type="text-area" class="form-control" id="description" name="description"formControlName="description" [(ngModel)]="userType.description">
          </div>

          <button type="submit" [disabled]="!UserTypeForm.valid"  class="btn btn-primary mr-1" >Submit</button> &nbsp;
          <button type="button" class="btn btn-warning mr-1"  routerLink="/user-type">Cancel</button>
        </form>
        </div>
    </div>
  </div>       
  

  


