<mat-toolbar class=" text-white" style="background-color: #004e04" >
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="example-spacer"></span>
   Payment notification
    <span class="example-spacer"></span>
</mat-toolbar>
<div  class="container" style="text-align: center;">
    <div style="display: inline-block;"> 
        <p> <b>Payment action succesful. Thank you for riding with us !</b></p>
    </div>
</div>
