<mat-toolbar class=" text-white" style="background-color: #004e04" >
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="example-spacer"></span>
   Payment notification
    <span class="example-spacer"></span>
</mat-toolbar>

<div  class="container" style="text-align: center;">
    <div style="display: inline-block;"> 
       <div class="alert" id="alertBox">
    <span class="close-btn" onclick="this.parentElement.style.display='none';"></span>
    Payment action succesful. Thank you for riding with us ! <br>
    <button style="float: right;" class="ok-btn btn-primary m-3" (click)="redirectToMakeBooking()">OK</button>

       </div>
       
   </div>
</div>

<!-- <div  class="container" style="text-align: center;">
    <div style="display: inline-block;"> 
        <p> <b>Payment action succesful. Thank you for riding with us !</b></p>
    </div>
</div> -->
