<style>
  tr:nth-child(even) {
   background: lightgreen;
  }
 </style><style>
  tr:nth-child(even) {
   background: lightgreen;
  }
 </style>
 <mat-toolbar class=" text-white" style="background-color: #004e04" >
   
   <span class="example-spacer"></span>
  Refund recipients
   <span class="example-spacer"></span>
 </mat-toolbar>

<div style="margin-left: 20px;margin-top: 5%;">

<div class="search-container">
  <input type="text" [(ngModel)]="searchText" placeholder="Search by Name or Date" class="form-control search-input">
  <button class="btn btn-primary" (click)="applyFilter()">Search</button>
</div>

<table class="table table-striped">
<thead>
    <tr>
      <th scope="col">Username</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
        
        <th scope="col-6"></th>
    </tr>
</thead>
<tbody >
  <tr *ngFor="let refund of refunds">
      <td>{{refund.name}}</td>
       <td>R {{refund.amount}}</td>
        <td>{{refund.date }}</td>
        <td>{{refund.refundStatus.description}}</td>
        <td><button class="btn btn-success mr-1" style="margin-left: 90%;" (click)="EditRefund(refund)">Paid</button></td>
        
        <td>
        </td>
  </tr>
</tbody>
</table>

<button class="btn btn-danger ml-2" (click)="clearFilter()">Clear</button>

</div>

<router-outlet></router-outlet>

