<mat-toolbar class=" text-white" style="background-color: #004e04" >
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="example-spacer"></span>
   Available Bookings 
    <span class="example-spacer"></span>
  
  </mat-toolbar>
  <nav class="navbar navbar-expand-sm bg-success navbar-dark justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/client-help'">Help</a>
      </li>
      &nbsp;
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/about'">About</a>
      </li>
      &nbsp;
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/booking-controller'">Services</a>
      </li>
    </ul>
</nav>
  <br>
  &nbsp; &nbsp; &nbsp; <input type="text" class="form-control" style="display: inline-block; width: 40%;" placeholder="Search by bookingID" [(ngModel)]="searchString"> &nbsp; 
  <button class="btn btn-primary" style=" height:35px; display: inline-block;" (click)="SearchBookings()">Search</button>
  <p>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; <i class="fa-regular fa-circle-info" style="color: orange"> Can only search by Booking ID e.g 1, please enter the booking ID in its exact format!</i> </p>
  <br>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Booking Number
            </th>
            <th>
                Date Booking Made
            </th>
            <th>
                Booking Total
            </th>
            <th>
                Booking Status
            </th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let b of booking">
            <td>
                {{b.bookingID}}
            </td>
            <td>
                {{b.date | date }}
            </td>
            <td>
                R {{b.totalPrice }}.00
            </td>
            <td>
                {{BookingStatus[b.bookingStatusID-1] }}
            </td>
            <td>
                <!-- <button class="btn btn-info" (click)="EditBooking(b.bookingID)"> Edit</button> -->
                <button class="btn btn-danger" style="margin-left: 2px;" (click)="CancelBooking(b.bookingID)">Cancel</button>
            </td>
        </tr>
    </tbody>
</table>

<button mat-stroked-button style="background-color: rgb(79, 192, 79); margin-top: 20%; width:50%; margin-left: 20%; color:white;" class="btn-block" (click)="ViewPassengers()">View Passengers</button>


