<mat-toolbar class="text-white" style="background-color: #004e04">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
    [routerLink]="['/trailer']">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="example-spacer"></span>
  Update Trailer
  <span class="example-spacer"></span>
</mat-toolbar>
<br />
<br />
<div class="row">
  <h5 class="error-text" *ngIf="errorMessage != ''">{{ errorMessage }}</h5>
  <br />

  <form [formGroup]="trailerForm" (ngSubmit)="onSubmit()" class="form-horizontal" *ngIf="trailerStatus?.length > 0">
    <div class="form-group">
      <label class="col-sm-1" for="size">Size:</label>
      <div class="col-sm-6">
        <input class="form-control" id="size" placeholder="Enter size" formControlName="size" />
        <div class="error-message">{{ getErrorMessage('size') }}</div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-1" for="registrationNumber">Registration Number:</label>
      <div class="col-sm-6">
        <input class="form-control" id="registrationNumber" placeholder="Enter registration number"
          formControlName="registrationNumber" />
          <div class="error-message">{{ getErrorMessage('registrationNumber') }}</div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-1" for="floorBase">Floor Base:</label>
      <div class="col-sm-6">
        <input class="form-control" id="floorBase" placeholder="Enter floor Base" formControlName="floorBase" />
        <div class="error-message">{{ getErrorMessage('floorBase') }}</div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-1" for="panels">Panels:</label>
      <div class="col-sm-6">
        <input class="form-control" id="panels" placeholder="Enter panels" formControlName="panels" />
        <div class="error-message">{{ getErrorMessage('panels') }}</div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-1" for="trailerStatus">Trailer Status:</label>
      <div class="col-sm-6">
        <select class="form-control" id="trailerStatus" formControlName="trailerStatusID">
          <option value="">Select Status</option>
          <option *ngFor="let status of trailerStatus" [value]="status.trailerStatusID">
            {{ status.name }}
          </option>
        </select>
        <div *ngIf="
              trailerForm.get('trailerStatus')?.invalid &&
              (trailerForm.get('trailerStatus')?.dirty ||
                trailerForm.get('trailerStatus')?.touched)
            ">
          <div class="text-danger">Trailer Status is required.</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-1" for="trailerType">Trailer Type:</label>
      <div class="col-sm-6">
        <select class="form-control" id="trailerType" formControlName="trailerTypeID">
          <option value="">Select Trailer Type</option>
          <option *ngFor="let type of trailerType" [value]="type.trailerTypeID">
            {{ type.name }}
          </option>
        </select>
        <div *ngIf="
              trailerForm.get('trailerType')?.invalid &&
              (trailerForm.get('trailerType')?.dirty ||
                trailerForm.get('trailerType')?.touched)
            ">
          <div class="text-danger">Trailer Type is required.</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-1" for="trailerRentalPrice">Rental Price:</label>
      <div class="col-sm-6">
        <input class="form-control" id="trailerRentalPrice" placeholder="Enter rental price"
          formControlName="trailerRentalPrice" />
          <div class="error-message">{{ getErrorMessage('trailerRentalPrice') }}</div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-6">
        <label for="file-upload" class="custom-file-upload">
          Add Trailer Image
        </label>
        <input id="file-upload" type="file" accept="image/png, image/gif, image/jpeg" (change)="selectFile($event)" />
        <img alt="Trailer Image" [src]="imageUrl" class="trailer-image" *ngIf="imageUrl != ''" />
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-6">
        <button style="margin-right: 1em" type="submit" class="btn btn-sm btn-default">
          Submit
        </button>
        <button type="button" class="btn btn-sm btn-warning" (click)="cancel()">
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
