<div class="container">
    <h2> Update Timeslot </h2>

    <form (ngSubmit)="onSubmit()" [formGroup]="TimeSlotForm">
        <div class="form-group">
            <label for="date" class="form-label"> Date: </label>
            <input type="text" class="form-control" name="date" formControlName="departureDate"><br>
        </div>

        <div class="form-group">
            <label for="timw" class="form-label"> Time: </label>
            <input type="text" class="form-control" name="time" formControlName="departureTime"><br>
        </div>      
        
        <mat-form-field appearance="fill">
            <div class="form-group">
                <mat-select placeholder="Select Location" formControlName="locationID">
                    <mat-option *ngFor="let v of location" [value]="v.locationID">
                        {{v.city}}
                    </mat-option>
                </mat-select>
            </div>
            </mat-form-field>
            <br>

        <div class="form-group">
            <button type="submit" [disabled]="!TimeSlotForm.valid" class="btn btn-primary mr-1"> Add </button>
            &nbsp;
            <button type="reset" class="btn btn-info mr-1"> Clear </button>
        </div>

    </form>
</div>
