.example-section {
    margin: 12px 0;
  }
  
  .example-margin {
    margin: 0 12px;
  }
  
  ul {
    list-style-type: none;
    margin-top: 4px;
  }
  input[type='checkbox'] {
    accent-color: rgb(0, 60, 0);
}

th{

  background-color: rgb(7, 77, 7);
  padding: 10px;
  color: white;
}

table, td  {
  border-collapse: collapse;
  padding: 15px;
  background-color: rgb(226, 255, 223);
  width: 50%;
  margin: 0 auto;
}

span {
  text-align: center;
  display: inline-block;
  width: 100%;
}

.content
{
  margin-left: 100px;
}

.button-container {
  //display: flex;
  //justify-content: left;
  position: absolute;
  right:25%;
}

.buttonPass {
  display: inline-block;
  border-radius: 10px;
  background-color: #00bd16;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttonPass span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonPass span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonPass:hover span {
  padding-right: 25px;
}

.buttonPass:hover span:after {
  opacity: 1;
  right: 0;
}

.buttonFail {
  display: inline-block;
  border-radius: 10px;
  background-color: #eb0000;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttonFail span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonFail span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonFail:hover span {
  padding-right: 25px;
}

.buttonFail:hover span:after {
  opacity: 1;
  right: 0;
}
