<mat-toolbar class=" text-white" style="background-color: #004e04" >
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="example-spacer"></span>
   Edit Discount
    <span class="example-spacer"></span>
</mat-toolbar>
<div class="container">
    <div class="row">
        <div class="col-6 offset-2">
            <form class="form-group" [formGroup]="updateDiscountForm" (ngSubmit)="UpdateDiscount()">
                <div class="mb-3">
                    <label class="form-label">Amount Off</label>
                    <input type="number" class="form-control" placeholder="Enter amount off" name="amount" formControlName="amount">
                </div>
                <div class="mb-3">
                    <label class="form-label">Expiry Date</label>
                    <input type="text" class="form-control" placeholder="Enter exprity date" name="date" formControlName="date">
                </div>

                
                <button type="submit" class="btn btn-primary" [disabled]="!updateDiscountForm.valid">Submit changes</button>
                <button type="button" class="btn btn-warning" style="margin-left: 2px;" routerLink="/discount">Cancel</button>
            </form>
        </div>
    </div>
  </div>
