.addPassenger-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .logo-image{
    width: 700px;
    height: 500px;
   display: flex;
    margin-left: 100px;
  }
  
  span {
    text-align: center;
    display: inline-block;
    width: 100%;
  }
  
  .content
  {
    margin-left: 100px;
  }