.btnCreate{
  background-color: green;
  width: 150px;
  color: white;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  margin: 5px;
  
}

.btnDownload{

  background-color: rgba(17, 17, 118, 0.876);
  width: 100px;
  color: white;
  border-radius: 7px;
  border: none;
  text-align: center;
  font-size: 12px;
  padding: 7px;
  margin: 5px;
}

.btnView{

  background-color: rgba(1, 114, 167, 0.876);
  width: 100px;
  color: white;
  border-radius: 7px;
  border: none;
  text-align: center;
  font-size: 12px;
  padding: 7px;
  margin: 5px;
}

h4{
  color: rgba(41, 51, 58, 0.993);
  margin: 0 auto;
  width: fit-content;
}

.btns{
  margin: 0 auto;
  width: fit-content;
}