<mat-toolbar class=" text-white" style="background-color: #004e04" >
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="goBack()">
         <mat-icon>arrow_back</mat-icon>
       </button>
       <span class="example-spacer"></span>
         <h2 style="color:white">Create Rental Application</h2>
       <span class="example-spacer"></span>

</mat-toolbar>
<nav class="navbar navbar-expand-sm bg-success navbar-dark justify-content-center">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/client-help'">Help</a>
    </li>
    &nbsp;
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/about'">About</a>
    </li>
    &nbsp;
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/booking-controller'">Services</a>
    </li>
  </ul>
</nav>
     <mat-stepper [linear]="true" #stepper>
      <form #rentalForm="ngForm">
        <mat-step label="Rental Details" errorMessage="Dates are required">
          <div>
            <h2>Rental Application Details</h2>
            <div>
              <p><strong>Rental Product</strong> {{ selectedVehicleName }}</p>
              <p><strong>Rental Product Type:</strong> {{ selectedVehicleType }} vehicle</p>
              <p><strong>Registration Number:</strong> {{ selectedVehicleRegistrationNumber }}</p>
              <p><strong>Price:</strong> {{ selectedVehicleRentalPrice | currency:'R' }}</p>
            </div>
          </div>
          <table>
            <tr>
              <td>
                <div>
                  <label for="startDate">Collection Date:</label>
                  <input type="date" id="startDate" name="startDate" [(ngModel)]="startDate" required
                  min="{{ minDate() | date:'yyyy-MM-dd' }}" >
                    
                </div>
               
              <td>
               
                <div >
                  &nbsp; &nbsp;   &nbsp; &nbsp;   &nbsp; &nbsp;
                  <label for="endDate">Return Date:</label>
                  <input type="date"  id="endDate" name="endDate" [(ngModel)]="endDate" required
                  [min]="minReturnDate()" [disabled]="!startDate">

                </div>
              </td>
            </tr>
          </table>
          <br>
          <br>
          <br>
          <div style="margin-left: 70%">
            <button mat-button matStepperNext [disabled]="!startDate || !endDate">Proceed</button>
          </div>
        </mat-step>
        <!-- Upload Files Step -->
        <mat-step label="Upload Files" errorMessage="Documents are required.">
          <div style="margin-top: 5%; margin-left: 20%;">
            <label for="file1">ID Copy:</label>
            <input type="file" id="file1" name="file1" accept=".pdf" required (change)="onFileSelected( $event)" >
            
        
            <br>
            <br>
            <label for="file2">Bank Confirmation Letter:</label>
            <input type="file" id="file2" name="file2" accept=".pdf" required (change)="onFileSelected( $event)">
            <br>
            <br>
            <label for="file3">Driver's License:</label>
            <input type="file" id="file3" name="file3" accept=".pdf" required (change)="onFileSelected( $event)" >
           
            <br>
            <br>
        </div>
        <br>
        <br>
        
          <div style="margin-left: 70%">
            <button mat-button matStepperPrevious>Previous</button>
            <button mat-button matStepperNext [disabled]="!fileUploaded">Proceed</button>
          </div>
        </mat-step>
        <mat-step label="Done">
          <p>Please note that you will be charged as follows:</p>
          <div style="margin-left: 10%">
            <p><strong> R {{ selectedVehicleRentalPrice }}/ day</strong> from collection date to return date and <strong style="color: red">R5000</strong> refundable deposit</p>
            <p>You are expected to pay the full rental amount on or before the collection date.</p>
          </div>
          <button style="margin-left: 70%" mat-button matStepperPrevious>Previous</button>
          <button mat-stroked-button style="background-color: rgb(79, 192, 79); margin-top: 20%; width:50%; margin-left: 20%; color:white;" class="btn-block" (click)="createRentalApplication()">Create Rental Application</button>
        </mat-step>
      </form>
    </mat-stepper>
    



