<mat-toolbar class=" text-white" style="background-color: #004e04" >
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="goBack()" >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="example-spacer"></span>
    <h2 style="color:white">View Rental Applications</h2>
  <span class="example-spacer"></span>

</mat-toolbar>
<nav class="navbar navbar-expand-sm bg-success navbar-dark justify-content-center">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/client-help'">Help</a>
    </li>
    &nbsp;
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/about'">About</a>
    </li>
    &nbsp;
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/booking-controller'">Services</a>
    </li>
  </ul>
</nav>


<div class="container p-3">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Application Number</th>
        <th>Application Status</th>
        <th>View</th>
      </tr>
    </thead>
    
    <tbody>
      <tr *ngFor="let rental of rentalApplication">
        <td>{{ rental.rentalID }}</td>
        <td>{{ rental.rentalStatus }}</td>
        <td>
          <a [routerLink]="['/rental-applications', rental.rentalID]">View Details</a>
        </td>
      </tr>
    </tbody>
  </table>


<!--Code below is displayed when there are no existing applications-->
<div *ngIf="rentalApplication?.length === 0">No rental applications found.</div>
</div>