<mat-toolbar class=" text-white" style="background-color: #004e04" >
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="example-spacer"></span>
    <h2 style="color:white">View Rental Applications</h2>
  <span class="example-spacer"></span>

</mat-toolbar>



<div class="container p-3">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Application Number</th>
        <th>Application Status</th>
        <th>View</th>
      </tr>
    </thead>
    
    <tbody>
      <tr *ngFor="let rental of rentalApplication">
        <td>{{ rental.rentalID }}</td>
        <td>{{ rental.rentalStatus }}</td>
        <td>
          <a [routerLink]="['/rental-applications', rental.rentalID]">View Details</a>
        </td>
      </tr>
    </tbody>
  </table>


<!--Code below is displayed when there are no existing applications-->
<div *ngIf="rentalApplication?.length === 0">No rental applications found.</div>
</div>